n8n-workflows/daily-optimizer.json
{
  "name": "Battery AI – Daily Optimizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 16 * * *"
            }
          ]
        }
      },
      "id": "9004a7be-c4c1-408e-8726-9ed76bee9ab1",
      "name": "Trigger: täglich 16:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        8112,
        3600
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "d434b8b5-6266-4906-aeca-9a8c73e92ca6",
      "name": "Wenn manuell aufgerufen",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        8112,
        3440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/input_boolean.ki_batteriesteuerung_aktiv",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "2fa796a3-9d52-4101-a496-13aae1b713af",
      "name": "HA: KI-Schalter prüfen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        8336,
        3600
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.state }}",
              "value2": "on"
            }
          ]
        },
        "options": {}
      },
      "id": "26357ac6-815a-410d-b12c-be1162176d48",
      "name": "KI aktiv?",
      "type": "n8n-nodes-base.if",
      "position": [
        8560,
        3600
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "url": "http://a0d7b954-influxdb:8086/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "evcc"
            },
            {
              "name": "q",
              "value": "SELECT integral(\"value\") / 3600000 as energy_kwh FROM \"homePower\" WHERE time > now() - 28d GROUP BY time(1d) fill(none)"
            }
          ]
        },
        "options": {}
      },
      "id": "def55879-dc2a-4d4c-96ac-cd1e54813f5a",
      "name": "InfluxDB: Verbrauch abfragen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        8784,
        3600
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      },
      "notes": "Liest täglichen Hausverbrauch der letzten 28 Tage aus InfluxDB. Credential: InfluxDB evcc (HTTP Basic Auth)."
    },
    {
      "parameters": {
        "url": "http://a0d7b954-influxdb:8086/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "evcc"
            },
            {
              "name": "q",
              "value": "SELECT integral(\"value\") / 3600000 FROM \"homePower\" WHERE time > now() - 28d GROUP BY time(1h) fill(0)"
            }
          ]
        },
        "options": {}
      },
      "id": "343874fc-a31c-4330-b541-20b085db361d",
      "name": "InfluxDB: Lastprofil abfragen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        8896,
        3680
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('InfluxDB: Verbrauch abfragen').first()?.json ?? {};\nconst profileRaw = $('InfluxDB: Lastprofil abfragen').first()?.json ?? {};\nconst stateRaw = $('evcc: State abrufen').first()?.json ?? {};\nconst tariffRaw = $('evcc: Tarif abrufen').first()?.json ?? {};\nconst series = data?.results?.[0]?.series?.[0]?.values ?? [];\n\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst targetWeekday = tomorrow.getDay();\n\nconst sameWeekday = series\n  .filter(([time, kwh]) => new Date(time).getDay() === targetWeekday && kwh > 1)\n  .map(([, kwh]) => kwh);\nconst allDays = series.filter(([, kwh]) => kwh > 1).map(([, kwh]) => kwh);\nconst values = sameWeekday.length >= 2 ? sameWeekday : allDays;\nconst avg = values.length > 0 ? values.reduce((a, b) => a + b, 0) / values.length : 10;\nconst source = sameWeekday.length >= 2 ? 'gleicher Wochentag' : allDays.length > 0 ? 'Gesamtdurchschnitt' : 'Fallback';\nconst avgRounded = Math.round(avg * 10) / 10;\nconst dataDays = sameWeekday.length || allDays.length;\n\n// evcc State\nconst evccState = stateRaw?.result ?? stateRaw;\nconst soc = parseFloat(evccState?.batterySoc ?? 50);\nconst availableCapacity = Math.round((1 - soc / 100) * 7.6 * 10) / 10;\nconst loadpoints = evccState?.loadpoints ?? [];\n\n// Solar forecast tomorrow\nconst forecastData = evccState?.forecast?.solar?.tomorrow ?? evccState?.pvForecast?.tomorrow ?? [];\nconst solarTomorrow = Array.isArray(forecastData)\n  ? Math.round(forecastData.reduce((s, h) => s + (h.wh ?? h.energy ?? 0), 0) / 1000 * 10) / 10\n  : Math.round((parseFloat(forecastData) || 0) * 10) / 10;\n\n// EV/Wallbox info\nlet evSection = '';\nconst presentLPs = loadpoints.filter(lp => lp.vehiclePresent);\nif (presentLPs.length > 0) {\n  const info = presentLPs.map(lp => {\n    const parts = [];\n    if (lp.planEnergy) parts.push('Ladeenergie: ' + lp.planEnergy + ' kWh');\n    if (lp.planTime) parts.push('bis: ' + lp.planTime);\n    return parts.length ? parts.join(', ') : 'Fahrzeug angeschlossen';\n  }).join(' | ');\n  evSection = '\\nFahrzeug(e): ' + info + '\\nAddiere EV-Energiebedarf zum Tagesverbrauch.';\n}\n\n// Tibber rates for tomorrow\nconst rates = tariffRaw?.result?.rates ?? tariffRaw?.rates ?? [];\nconst tmrStart = new Date(); tmrStart.setDate(tmrStart.getDate() + 1); tmrStart.setHours(0,0,0,0);\nconst tmrEnd = new Date(tmrStart); tmrEnd.setDate(tmrEnd.getDate() + 1);\nconst tomorrowRates = rates\n  .filter(r => new Date(r.start) >= tmrStart && new Date(r.start) < tmrEnd)\n  .sort((a, b) => new Date(a.start) - new Date(b.start));\n\nconst getPrice = r => r?.value ?? r?.price;\nconst validRates = tomorrowRates.filter(r => {\n  const p = getPrice(r);\n  return p !== undefined && p !== null && !isNaN(p);\n});\nconst tariffStr = validRates.length > 0\n  ? validRates.map(r => {\n      const h = new Date(r.start).getHours().toString().padStart(2, '0');\n      const ct = Math.round(getPrice(r) * 10000) / 100;\n      return h + ':00: ' + ct + 'ct';\n    }).join(' | ')\n  : tomorrowRates.length > 0\n    ? 'Tarif-Daten vorhanden aber Preisfeld fehlt (Struktur: ' + JSON.stringify(Object.keys(tomorrowRates[0])) + ')'\n    : 'keine Tarif-Daten';\n\n// Load profile\nconst offsetHours = -new Date().getTimezoneOffset() / 60;\nconst byHour = {};\nfor (let h = 0; h < 24; h++) byHour[h] = [];\nconst profileSeries = profileRaw?.results?.[0]?.series?.[0]?.values ?? [];\nprofileSeries\n  .filter(([time]) => new Date(time).getDay() === targetWeekday)\n  .forEach(([time, kwh]) => {\n    const local = new Date(new Date(time).getTime() + offsetHours * 3600000);\n    const hour = local.getHours();\n    if (kwh !== null && kwh > 0) byHour[hour].push(kwh);\n  });\nconst profile = [];\nfor (let h = 0; h < 24; h++) {\n  const vals = byHour[h];\n  profile.push({ hour: h, avg_kwh: vals.length > 0 ? Math.round(vals.reduce((a,b)=>a+b,0)/vals.length*100)/100 : 0, samples: vals.length });\n}\nconst profileDays = Math.max(...profile.map(p => p.samples), 0);\nconst profileSection = profileDays >= 4\n  ? '\\n\\nStündliches Verbrauchsprofil (gleicher Wochentag, ' + profileDays + ' Messtage):\\n' +\n    profile.map(p => p.hour.toString().padStart(2,'0') + ':00: ' + p.avg_kwh + ' kWh').join(' | ') +\n    '\\n\\nStunden mit hohem Verbrauch einplanen.'\n  : '';\n\nconst prompt = 'Optimiere die Batterieladekosten fuer morgen.' +\n  '\\n\\nAktuelle Daten:' +\n  '\\nBatterie: SoC ' + soc + '%, verfuegbare Kapazitaet: ' + availableCapacity + ' kWh' +\n  '\\nSolar-Prognose morgen: ' + solarTomorrow + ' kWh' +\n  '\\nErwarteter Tagesverbrauch: ' + avgRounded + ' kWh (' + source + ', ' + dataDays + ' Messtage)' +\n  evSection +\n  '\\n\\nTibber-Preise morgen:\\n' + tariffStr +\n  profileSection +\n  '\\n\\nBerechne den optimalen Preisschwellwert:' +\n  '\\n- Energiebedarf = ' + avgRounded + ' - ' + solarTomorrow + ' (Solar) - ' + availableCapacity + ' (Batterie) kWh' +\n  '\\n- Wenn Bedarf <= 0: threshold_ct = 0 (Solar + Batterie reichen)' +\n  '\\n- Wenn Bedarf > 0: waehle guenstigste Tibber-Slots bis Bedarf gedeckt, Schwellwert = hoechster Slot-Preis x 1.05' +\n  '\\n- n8n setzt den Schwellwert – mache KEINEN evcc-API-Aufruf' +\n  '\\n\\nAntworte NUR mit JSON: { \"threshold_ct\": <Zahl in ct/kWh>, \"reasoning\": \"<kurze Begruendung>\" }';\n\nreturn [{ json: { avg_consumption_kwh: avgRounded, data_days: dataDays, source, soc, solar_tomorrow_kwh: solarTomorrow, prompt } }];"
      },
      "id": "3e10352f-c20a-4e09-85a3-64b837c34641",
      "name": "Verbrauch berechnen",
      "type": "n8n-nodes-base.code",
      "position": [
        9008,
        3600
      ],
      "typeVersion": 2,
      "notes": "Berechnet Durchschnittsverbrauch: bevorzugt gleicher Wochentag (≥2 Werte), sonst Gesamtdurchschnitt, sonst 10 kWh Fallback."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "9417f20e-04bd-4b8a-9a05-ea289727b4f7",
      "name": "Claude Sonnet + evcc MCP",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        9232,
        3600
      ],
      "typeVersion": 1.4,
      "notes": "Claude hat direkten evcc-Zugriff via MCP. Liest State, analysiert Preise, setzt Schwellwert selbst."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "b02d49ef-8f97-405a-859d-fb775777c405",
      "name": "Claude Sonnet 4.6",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        9232,
        3888
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "zcVdqqwObP1JOxql",
          "name": "Anthropic – Claude Sonnet"
        }
      },
      "notes": "Anthropic Credential muss gesetzt sein."
    },
    {
      "parameters": {
        "jsCode": "// Alle möglichen Pfade für die Claude-Antwort probieren\n  const item = $input.first() ?? $input.item;\n  const data = item?.json ?? {};\n\n  const response = data.output\n    ?? data.text\n    ?? data.message\n    ?? data.content\n    ?? JSON.stringify(data);\n\n  let threshold = null;\n  let reasoning = 'Keine Begründung';\n\n  // Versuche JSON-Block zu extrahieren (letzten Block bevorzugen, keine verschachtelten Klammern)\n  const allMatches = [...String(response).matchAll(/\\{[^{}]*\"threshold_ct\"[^{}]*\\}/g)];\n  const jsonMatch = allMatches.length > 0 ? allMatches[allMatches.length - 1][0] : null;\n  if (jsonMatch) {\n    try {\n      const parsed = JSON.parse(jsonMatch);\n      threshold = parseFloat(parsed.threshold_ct);\n      reasoning = parsed.reasoning ?? reasoning;\n    } catch(e) {}\n  }\n\n  // Fallback: Zahl nach threshold_ct suchen\n  if (threshold === null) {\n    const numMatch = String(response).match(/threshold_ct[\"' ]*[:=][\"' ]*(\\d+\\.?\\d*)/);\n    if (numMatch) threshold = parseFloat(numMatch[1]);\n  }\n\n  // Wenn nichts gefunden: Debug-Info ausgeben statt crash\n  if (threshold === null || isNaN(threshold)) {\n    return [{ json: {\n      error: true,\n      debug_response: String(response).slice(0, 1000),\n      debug_keys: Object.keys(data).join(', ')\n    }}];\n  }\n\n  threshold = Math.min(50, Math.max(0, threshold));\n\n  return [{ json: {\n    threshold_ct: threshold,\n    reasoning,\n    timestamp: new Date().toISOString()\n  }}];"
      },
      "id": "ba0a1bdc-f694-48f2-af4a-c98edd2895fb",
      "name": "Ergebnis extrahieren",
      "type": "n8n-nodes-base.code",
      "position": [
        9536,
        3600
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/states/sensor.battery_charge_threshold",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"state\": String($json.threshold_ct), \"attributes\": { \"unit_of_measurement\": \"ct/kWh\", \"friendly_name\": \"Batterie Preisschwellwert (KI)\",\n  \"reasoning\": $json.reasoning, \"last_updated\": $json.timestamp } } }}",
        "options": {}
      },
      "id": "696291e0-b83a-4496-bd69-7487f8fce161",
      "name": "HA: Status aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        9648,
        3808
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const usage = $('Claude Sonnet + evcc MCP').first()?.json?.tokenUsage ?? {};\nconst inputTokens = usage.inputTokens ?? usage.prompt_tokens ?? 4500;\nconst outputTokens = usage.outputTokens ?? usage.completion_tokens ?? 500;\nconst cost_usd = (inputTokens / 1000000 * 3) + (outputTokens / 1000000 * 15);\nconst costRounded = Math.round(cost_usd * 100000) / 100000;\nreturn [{ json: {\n  workflow: 'daily',\n  input_tokens: inputTokens,\n  output_tokens: outputTokens,\n  cost_usd: costRounded,\n  timestamp: new Date().toISOString(),\n  line_protocol: 'ai_costs,workflow=daily input_tokens=' + inputTokens + 'i,output_tokens=' + outputTokens + 'i,cost_usd=' + costRounded\n}}];"
      },
      "id": "4da68c52-3040-43fb-9af9-afd541686d92",
      "name": "Token: Kosten berechnen",
      "type": "n8n-nodes-base.code",
      "position": [
        9872,
        3808
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://a0d7b954-influxdb:8086/write?db=evcc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.line_protocol }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "d73a8f19-14af-4843-ae8b-200acd93fa8a",
      "name": "InfluxDB: Token-Kosten schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        10096,
        3680
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst todayUTC = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate())).toISOString();\nconst monthUTC = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), 1)).toISOString();\nreturn [{ json: {\n  today_utc: todayUTC,\n  month_utc: monthUTC,\n  query_today: 'SELECT sum(\"cost_usd\") FROM \"ai_costs\" WHERE time >= \\'' + todayUTC + '\\'',\n  query_month: 'SELECT sum(\"cost_usd\") FROM \"ai_costs\" WHERE time >= \\'' + monthUTC + '\\''\n}}];"
      },
      "id": "9a9b66c8-fc5c-4df5-9383-023b605fb7bf",
      "name": "Aggregat-Timestamps",
      "type": "n8n-nodes-base.code",
      "position": [
        10096,
        3808
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "http://a0d7b954-influxdb:8086/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "evcc"
            },
            {
              "name": "q",
              "value": "={{ $json.query_today }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d15f3a6c-e36f-4c32-aeb6-8815fee6d0e9",
      "name": "InfluxDB: Kosten heute",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        10320,
        3808
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      }
    },
    {
      "parameters": {
        "url": "http://a0d7b954-influxdb:8086/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "evcc"
            },
            {
              "name": "q",
              "value": "={{ $('Aggregat-Timestamps').first().json.query_month }}"
            }
          ]
        },
        "options": {}
      },
      "id": "26f8d4d8-ed67-41da-81ec-c4bd97aa2777",
      "name": "InfluxDB: Kosten Monat",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        10544,
        3808
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/states/sensor.battery_ai_cost_today",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"state\": String(Math.round(($('InfluxDB: Kosten heute').first()?.json?.results?.[0]?.series?.[0]?.values?.[0]?.[1] ?? 0) * 10000) / 10000), \"attributes\": { \"unit_of_measurement\": \"USD\", \"friendly_name\": \"KI API-Kosten heute\" } } }}",
        "options": {}
      },
      "id": "2d4315e3-b968-4cb1-93a8-25bebcae8719",
      "name": "HA: Kosten heute aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        10768,
        3808
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/states/sensor.battery_ai_cost_month",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"state\": String(Math.round(($('InfluxDB: Kosten Monat').first()?.json?.results?.[0]?.series?.[0]?.values?.[0]?.[1] ?? 0) * 10000) / 10000), \"attributes\": { \"unit_of_measurement\": \"USD\", \"friendly_name\": \"KI API-Kosten Monat\" } } }}",
        "options": {}
      },
      "id": "2184fadc-727f-4c6a-9b21-e4ccb88b2e55",
      "name": "HA: Kosten Monat aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        10992,
        3808
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "url": "http://192.168.1.8:7070/api/state",
        "options": {}
      },
      "id": "50c4e4eb-6035-48af-bc52-1210e6ec8641",
      "name": "evcc: State abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        8896,
        3520
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "http://192.168.1.8:7070/api/tariff/grid",
        "options": {}
      },
      "id": "0551c851-9cc6-45e8-9aed-eea811c74cfe",
      "name": "evcc: Tarif abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        8896,
        3760
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.threshold_ct }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "cd700f8b-664d-426e-9768-401a788f4efc",
      "name": "Limit aktiv?",
      "type": "n8n-nodes-base.if",
      "position": [
        9760,
        3600
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://192.168.1.8:7070/api/batterygridchargelimit/' + String(Math.round($json.threshold_ct / 100 * 1000) / 1000) }}",
        "options": {}
      },
      "id": "ab652d46-a557-4420-beeb-88441421628e",
      "name": "evcc: Limit setzen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        9984,
        3520
      ],
      "typeVersion": 4.4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://192.168.1.8:7070/api/batterygridchargelimit",
        "options": {}
      },
      "id": "47a74fb3-279c-466a-a560-7c0dc1cd0a4e",
      "name": "evcc: Limit entfernen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        9984,
        3680
      ],
      "typeVersion": 4.4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "battery-ai-restore",
        "options": {}
      },
      "id": "ba51d50d-bea8-4f8f-ad32-1b2c67c47c5a",
      "name": "Webhook: Sensoren wiederherstellen",
      "type": "n8n-nodes-base.webhook",
      "position": [
        8112,
        3264
      ],
      "typeVersion": 2,
      "webhookId": "62d5f8d9-8e77-4d4c-89bc-6f44b08bcd63"
    }
  ],
  "pinData": {},
  "connections": {
    "Wenn manuell aufgerufen": {
      "main": [
        [
          {
            "node": "HA: KI-Schalter prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: KI-Schalter prüfen": {
      "main": [
        [
          {
            "node": "KI aktiv?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI aktiv?": {
      "main": [
        [
          {
            "node": "InfluxDB: Verbrauch abfragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfluxDB: Verbrauch abfragen": {
      "main": [
        [
          {
            "node": "InfluxDB: Lastprofil abfragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verbrauch berechnen": {
      "main": [
        [
          {
            "node": "Claude Sonnet + evcc MCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.6": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Sonnet + evcc MCP",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet + evcc MCP": {
      "main": [
        [
          {
            "node": "Ergebnis extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ergebnis extrahieren": {
      "main": [
        [
          {
            "node": "HA: Status aktualisieren",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit aktiv?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Status aktualisieren": {
      "main": [
        [
          {
            "node": "Token: Kosten berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token: Kosten berechnen": {
      "main": [
        [
          {
            "node": "InfluxDB: Token-Kosten schreiben",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregat-Timestamps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregat-Timestamps": {
      "main": [
        [
          {
            "node": "InfluxDB: Kosten heute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfluxDB: Kosten heute": {
      "main": [
        [
          {
            "node": "InfluxDB: Kosten Monat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfluxDB: Kosten Monat": {
      "main": [
        [
          {
            "node": "HA: Kosten heute aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Kosten heute aktualisieren": {
      "main": [
        [
          {
            "node": "HA: Kosten Monat aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfluxDB: Lastprofil abfragen": {
      "main": [
        [
          {
            "node": "evcc: State abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evcc: State abrufen": {
      "main": [
        [
          {
            "node": "evcc: Tarif abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evcc: Tarif abrufen": {
      "main": [
        [
          {
            "node": "Verbrauch berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit aktiv?": {
      "main": [
        [
          {
            "node": "evcc: Limit setzen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evcc: Limit entfernen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Sensoren wiederherstellen": {
      "main": [
        [
          {
            "node": "HA: KI-Schalter prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: täglich 16:00": {
      "main": [
        [
          {
            "node": "HA: KI-Schalter prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2830e61d-4c2d-4e32-a724-6f6a3a98613b",
  "meta": {
    "instanceId": "8097a91cfaba8dfdfe2acc47748dc7815a709bc5aa1d37f7c8283b95db2bc694"
  },
  "id": "d64VrOYL9iC2fO3k",
  "tags": []
}