n8n-workflows/ha-override-handler.json
{
  "name": "Battery AI – HA Override Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "battery-ai-override",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: HA Override",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "webhookId": "battery-ai-override",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst event = item?.json?.body?.event ?? item?.json?.event ?? '';\nreturn [{ json: { event } }];"
      },
      "id": "extract-event",
      "name": "Event lesen",
      "type": "n8n-nodes-base.code",
      "position": [460, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equals",
              "value2": "ai_control_disabled"
            }
          ]
        },
        "options": {}
      },
      "id": "if-disable",
      "name": "KI deaktiviert?",
      "type": "n8n-nodes-base.if",
      "position": [680, 100],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equals",
              "value2": "ai_control_enabled"
            }
          ]
        },
        "options": {}
      },
      "id": "if-enable",
      "name": "KI aktiviert?",
      "type": "n8n-nodes-base.if",
      "position": [680, 280],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equals",
              "value2": "discharge_enabled"
            }
          ]
        },
        "options": {}
      },
      "id": "if-discharge-on",
      "name": "Einspeisen aktiviert?",
      "type": "n8n-nodes-base.if",
      "position": [680, 460],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://192.168.1.8:7070/api/batterygridchargelimit",
        "options": {}
      },
      "id": "evcc-disable-charging",
      "name": "evcc: Netzladen aus",
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 40],
      "typeVersion": 4.4,
      "notes": "KI deaktiviert: Netzladen sofort stoppen"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qyuXhAXnYTHh80eL",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-optimizer",
      "name": "Daily Optimizer starten",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [920, 220],
      "typeVersion": 1.1,
      "notes": "Startet Daily Optimizer sofort wenn KI aktiviert wird (nicht warten)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.8:7070/api/batterydischargecontrol/true",
        "options": {}
      },
      "id": "evcc-discharge-on",
      "name": "evcc: Entladen aktivieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 400],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.8:7070/api/batterydischargecontrol/false",
        "options": {}
      },
      "id": "evcc-discharge-off",
      "name": "evcc: Entladen deaktivieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 540],
      "typeVersion": 4.4
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: HA Override": {
      "main": [[{ "node": "Event lesen", "type": "main", "index": 0 }]]
    },
    "Event lesen": {
      "main": [[
        { "node": "KI deaktiviert?", "type": "main", "index": 0 },
        { "node": "KI aktiviert?", "type": "main", "index": 0 },
        { "node": "Einspeisen aktiviert?", "type": "main", "index": 0 }
      ]]
    },
    "KI deaktiviert?": {
      "main": [
        [{ "node": "evcc: Netzladen aus", "type": "main", "index": 0 }],
        []
      ]
    },
    "KI aktiviert?": {
      "main": [
        [{ "node": "Daily Optimizer starten", "type": "main", "index": 0 }],
        []
      ]
    },
    "Einspeisen aktiviert?": {
      "main": [
        [{ "node": "evcc: Entladen aktivieren", "type": "main", "index": 0 }],
        [{ "node": "evcc: Entladen deaktivieren", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "479cca65-f5b1-6738-cd0f-89935373e3f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8097a91cfaba8dfdfe2acc47748dc7815a709bc5aa1d37f7c8283b95db2bc694"
  },
  "id": "HA-OVERRIDE-HANDLER",
  "tags": []
}
