n8n-workflows/intraday-adjuster.json
{
  "name": "Battery AI – Intraday Adjuster",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Trigger: stündlich 0–23 Uhr",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/input_boolean.ki_batteriesteuerung_aktiv",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "HA: KI-Schalter prüfen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        224,
        0
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.state }}",
              "value2": "on"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "KI aktiv?",
      "type": "n8n-nodes-base.if",
      "position": [
        448,
        0
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/input_select.intraday_frequenz",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ha-frequenz-lesen",
      "name": "HA: Frequenz lesen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        0
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first()?.json?.state ?? '1h';\nconst freq = parseInt(state.replace(/[^0-9]/g, '')) || 1;\nconst currentHour = new Date().getHours();\nconst shouldRun = (currentHour - 6) % freq === 0;\nif (!shouldRun) return [];\nreturn [{ json: { frequency_h: freq } }];"
      },
      "id": "frequenz-pruefen",
      "name": "Frequenz prüfen",
      "type": "n8n-nodes-base.code",
      "position": [
        896,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/input_boolean.einspeise_logik_aktiv",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ha-einspeise-schalter",
      "name": "HA: Einspeise-Schalter lesen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        -160
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/input_number.min_soc_einspeisen",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ha-min-soc",
      "name": "HA: Min-SoC lesen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        -320
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first()?.json ?? {};\nconst action = ['keep','update','remove'].includes(d.charge_action) ? d.charge_action : 'keep';\nconst dischargeAction = ['enable','disable'].includes(d.discharge_action) ? d.discharge_action : 'disable';\nconst threshold = Math.min(50, Math.max(0, parseFloat(d.threshold_ct ?? 0)));\nreturn [{ json: { action, charge_action: action, threshold_ct: threshold, discharge_action: dischargeAction, reasoning: d.reasoning ?? '', timestamp: d.timestamp ?? new Date().toISOString() } }];"
      },
      "id": "d0e1f2a3-b4c5-6789-3456-890123456789",
      "name": "Ergebnis extrahieren",
      "type": "n8n-nodes-base.code",
      "position": [
        1792,
        -160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/states/sensor.battery_intraday_adjustment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"state\": $json.action, \"attributes\": { \"threshold_ct\": $json.threshold_ct, \"unit_of_measurement\": \"ct/kWh\", \"friendly_name\": \"Batterie Intraday Anpassung\", \"reasoning\": $json.reasoning, \"discharge_action\": $json.discharge_action, \"last_updated\": $json.timestamp } } }}",
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7890-4567-901234567890",
      "name": "HA: Intraday Status aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2016,
        -160
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      },
      "notes": "Schreibt action (keep/update/remove), threshold_ct, discharge_action und reasoning nach HA sensor.battery_intraday_adjustment."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.discharge_action }}",
              "operation": "equals",
              "value2": "enable"
            }
          ]
        },
        "options": {}
      },
      "id": "if-discharge",
      "name": "Einspeisen aktivieren?",
      "type": "n8n-nodes-base.if",
      "position": [
        2016,
        0
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.8:7070/api/batterydischargecontrol/true",
        "options": {}
      },
      "id": "evcc-discharge-on",
      "name": "evcc: Entladen aktivieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        -80
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.8:7070/api/batterydischargecontrol/false",
        "options": {}
      },
      "id": "evcc-discharge-off",
      "name": "evcc: Entladen deaktivieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        80
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  workflow: 'intraday', input_tokens: 0, output_tokens: 0, cost_usd: 0,\n  timestamp: new Date().toISOString(),\n  line_protocol: 'ai_costs,workflow=intraday input_tokens=0i,output_tokens=0i,cost_usd=0.0'\n} }];"
      },
      "id": "token-kosten-intraday",
      "name": "Token: Kosten berechnen",
      "type": "n8n-nodes-base.code",
      "position": [
        2016,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://a0d7b954-influxdb:8086/write?db=evcc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.line_protocol }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "influxdb-token-write-intraday",
      "name": "InfluxDB: Token-Kosten schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        2240,
        160
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/states/sensor.battery_ai_tokens_last_run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"state\": String($json.cost_usd), \"attributes\": { \"input_tokens\": $json.input_tokens, \"output_tokens\": $json.output_tokens, \"workflow\": $json.workflow, \"timestamp\": $json.timestamp, \"unit_of_measurement\": \"USD\", \"friendly_name\": \"KI Tokens letzter Lauf\" } } }}",
        "options": {}
      },
      "id": "ha-token-status-intraday",
      "name": "HA: Token-Status aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        320
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "url": "http://192.168.1.8:7070/api/state",
        "options": {}
      },
      "id": "evcc-state-abrufen",
      "name": "evcc: State abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        -320
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "http://192.168.1.8:7070/api/tariff/grid",
        "options": {}
      },
      "id": "evcc-tarif-abrufen",
      "name": "evcc: Tarif abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        -320
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/sensor.battery_charge_threshold",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ha-schwellwert-lesen",
      "name": "HA: Schwellwert lesen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1344,
        -320
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Eingangsdaten\nconst stateRaw = $('evcc: State abrufen').first()?.json ?? {};\nconst tariffRaw = $('evcc: Tarif abrufen').first()?.json ?? {};\nconst schwellwertStr = $('HA: Schwellwert lesen').first()?.json?.state ?? '0';\nconst einspeiseAktiv = $('HA: Einspeise-Schalter lesen').first()?.json?.state === 'on';\nconst minSoc = parseFloat($('HA: Min-SoC lesen').first()?.json?.state) || 30;\n\n// evcc State\nconst state = stateRaw?.result ?? stateRaw;\nconst soc = parseFloat(state?.batterySoc ?? 50);\nconst loadpoints = state?.loadpoints ?? [];\nconst evLaedt = loadpoints.some(lp => (lp.chargePower ?? 0) > 0);\n\n// Aktuellen Tibber-Preis ermitteln\nconst rates = tariffRaw?.result?.rates ?? tariffRaw?.rates ?? [];\nconst now = new Date();\nconst currentRate = rates.find(r => new Date(r.start) <= now && now < new Date(r.end));\nconst currentPriceCt = currentRate ? Math.round(currentRate.price * 10000) / 100 : null;\n\n// Guenstigsten Preis naechste 2h\nconst in2h = new Date(now.getTime() + 2 * 3600000);\nconst upcoming = rates.filter(r => new Date(r.start) >= now && new Date(r.start) < in2h);\nconst minUpcomingCt = upcoming.length > 0\n  ? Math.min(...upcoming.map(r => Math.round(r.price * 10000) / 100))\n  : null;\n\n// Fallback: wenn Sensor noch nicht existiert (Daily Optimizer noch nicht gelaufen)\nconst schwellwert = parseFloat(schwellwertStr);\nif (isNaN(schwellwert)) {\n  return [{ json: { charge_action: 'keep', threshold_ct: 0, discharge_action: 'disable', reasoning: 'Kein Schwellwert verfuegbar (Daily Optimizer noch nicht gelaufen) – keine Aktion', timestamp: new Date().toISOString() } }];\n}\nconst EINSPEISE_CT = 6.7;\n\n// charge_action\nlet chargeAction = 'keep';\nlet thresholdCt = schwellwert;\n\nif (schwellwert === 0) {\n  chargeAction = 'remove'; thresholdCt = 0;\n} else if (currentPriceCt !== null && currentPriceCt <= schwellwert) {\n  chargeAction = 'update';\n} else if (currentPriceCt !== null && currentPriceCt > schwellwert) {\n  const cheapSoon = minUpcomingCt !== null && minUpcomingCt <= schwellwert;\n  chargeAction = cheapSoon ? 'keep' : 'remove';\n  if (chargeAction === 'remove') thresholdCt = 0;\n}\n\n// discharge_action\nlet dischargeAction = 'disable';\nlet dischargeReason = '';\n\nif (evLaedt) {\n  dischargeReason = 'EV laedt aktiv';\n} else if (!einspeiseAktiv) {\n  dischargeReason = 'Einspeise-Logik aus';\n} else if (soc < minSoc) {\n  dischargeReason = `SoC ${soc}% < Min ${minSoc}%`;\n} else if (currentPriceCt !== null && currentPriceCt > EINSPEISE_CT) {\n  dischargeAction = 'enable';\n  dischargeReason = `Preis ${currentPriceCt}ct > ${EINSPEISE_CT}ct`;\n} else {\n  dischargeReason = `Preis ${currentPriceCt ?? '?'}ct <= ${EINSPEISE_CT}ct`;\n}\n\nconst reasoning = `Preis: ${currentPriceCt ?? '?'}ct | Schwellwert: ${schwellwert}ct -> ${chargeAction}; SoC: ${soc}% | ${dischargeReason} -> discharge ${dischargeAction}`;\n\nreturn [{ json: { charge_action: chargeAction, threshold_ct: thresholdCt, discharge_action: dischargeAction, reasoning, timestamp: new Date().toISOString() } }];"
      },
      "id": "entscheidung-berechnen",
      "name": "Entscheidung berechnen",
      "type": "n8n-nodes-base.code",
      "position": [
        1568,
        -320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.charge_action }}",
              "operation": "equals",
              "value2": "update"
            }
          ]
        },
        "options": {}
      },
      "id": "if-charge-update",
      "name": "Laden: Limit setzen?",
      "type": "n8n-nodes-base.if",
      "position": [
        2016,
        -320
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.charge_action }}",
              "operation": "equals",
              "value2": "remove"
            }
          ]
        },
        "options": {}
      },
      "id": "if-charge-remove",
      "name": "Laden: Limit entfernen?",
      "type": "n8n-nodes-base.if",
      "position": [
        2240,
        -160
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://192.168.1.8:7070/api/batterygridchargelimit/' + String(Math.round($('Ergebnis extrahieren').first().json.threshold_ct / 100 * 1000) / 1000) }}",
        "options": {}
      },
      "id": "evcc-limit-setzen",
      "name": "evcc: Limit setzen",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        2464,
        -400
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://192.168.1.8:7070/api/batterygridchargelimit",
        "options": {}
      },
      "id": "evcc-limit-entfernen",
      "name": "evcc: Limit entfernen",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        2464,
        -240
      ],
      "typeVersion": 4.4
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger: stündlich 6–22 Uhr": {
      "main": [
        [
          {
            "node": "HA: KI-Schalter prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: KI-Schalter prüfen": {
      "main": [
        [
          {
            "node": "KI aktiv?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI aktiv?": {
      "main": [
        [
          {
            "node": "HA: Frequenz lesen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HA: Frequenz lesen": {
      "main": [
        [
          {
            "node": "Frequenz prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frequenz prüfen": {
      "main": [
        [
          {
            "node": "HA: Einspeise-Schalter lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Einspeise-Schalter lesen": {
      "main": [
        [
          {
            "node": "HA: Min-SoC lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Min-SoC lesen": {
      "main": [
        [
          {
            "node": "evcc: State abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ergebnis extrahieren": {
      "main": [
        [
          {
            "node": "HA: Intraday Status aktualisieren",
            "type": "main",
            "index": 0
          },
          {
            "node": "Einspeisen aktivieren?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Token: Kosten berechnen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Laden: Limit setzen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token: Kosten berechnen": {
      "main": [
        [
          {
            "node": "InfluxDB: Token-Kosten schreiben",
            "type": "main",
            "index": 0
          },
          {
            "node": "HA: Token-Status aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Einspeisen aktivieren?": {
      "main": [
        [
          {
            "node": "evcc: Entladen aktivieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evcc: Entladen deaktivieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evcc: State abrufen": {
      "main": [
        [
          {
            "node": "evcc: Tarif abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evcc: Tarif abrufen": {
      "main": [
        [
          {
            "node": "HA: Schwellwert lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Schwellwert lesen": {
      "main": [
        [
          {
            "node": "Entscheidung berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entscheidung berechnen": {
      "main": [
        [
          {
            "node": "Ergebnis extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Laden: Limit setzen?": {
      "main": [
        [
          {
            "node": "evcc: Limit setzen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Laden: Limit entfernen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Laden: Limit entfernen?": {
      "main": [
        [
          {
            "node": "evcc: Limit entfernen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "intraday-adjuster-v2",
  "meta": {
    "instanceId": "8097a91cfaba8dfdfe2acc47748dc7815a709bc5aa1d37f7c8283b95db2bc694"
  },
  "id": "INTRADAY-ADJUSTER",
  "tags": []
}