n8n-workflows/intraday-adjuster.json
{
  "name": "Battery AI – Intraday Adjuster",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6-22 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Trigger: stündlich 6–22 Uhr",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/input_boolean.ki_batteriesteuerung_aktiv",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "HA: KI-Schalter prüfen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        224,
        0
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.state }}",
              "value2": "on"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "KI aktiv?",
      "type": "n8n-nodes-base.if",
      "position": [
        448,
        0
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/input_select.intraday_frequenz",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ha-frequenz-lesen",
      "name": "HA: Frequenz lesen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        0
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first()?.json?.state ?? '1h';\nconst freq = parseInt(state.replace(/[^0-9]/g, '')) || 1;\nconst currentHour = new Date().getHours();\nconst shouldRun = (currentHour - 6) % freq === 0;\nif (!shouldRun) return [];\nreturn [{ json: { frequency_h: freq } }];"
      },
      "id": "frequenz-pruefen",
      "name": "Frequenz prüfen",
      "type": "n8n-nodes-base.code",
      "position": [
        896,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/input_boolean.einspeise_logik_aktiv",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ha-einspeise-schalter",
      "name": "HA: Einspeise-Schalter lesen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        -160
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/input_number.min_soc_einspeisen",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ha-min-soc",
      "name": "HA: Min-SoC lesen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        -320
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "url": "http://a0d7b954-influxdb:8086/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "evcc"
            },
            {
              "name": "q",
              "value": "SELECT mean(\"value\") * 100 FROM \"tariffGrid\" WHERE time > now() - 90d GROUP BY time(1h)"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "InfluxDB: Tibber Preisstats",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        -160
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      },
      "notes": "Historische Tibber-Preise (90 Tage, ct/kWh nach ×100). Für Preiskontext: ist der aktuelle Preis günstig oder teuer?"
    },
    {
      "parameters": {
        "url": "http://a0d7b954-influxdb:8086/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "evcc"
            },
            {
              "name": "q",
              "value": "SELECT integral(\"value\") / 3600000 as energy_kwh FROM \"homePower\" WHERE time > now() - 28d GROUP BY time(1d) fill(none)"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "InfluxDB: Verbrauch abfragen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        -160
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      },
      "notes": "28-Tage-Verbrauchsdurchschnitt (gleicher Wochentag bevorzugt) als Referenz für täglichen Bedarf."
    },
    {
      "parameters": {
        "url": "http://a0d7b954-influxdb:8086/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "evcc"
            },
            {
              "name": "q",
              "value": "SELECT integral(\"value\") / 3600000 FROM \"homePower\" WHERE time > now() - 28d GROUP BY time(1h) fill(0)"
            }
          ]
        },
        "options": {}
      },
      "id": "influxdb-lastprofil-intraday",
      "name": "InfluxDB: Lastprofil abfragen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1232,
        -160
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tariffRaw = $('InfluxDB: Tibber Preisstats').first()?.json ?? {};\nconst homeRaw = $('InfluxDB: Verbrauch abfragen').first()?.json ?? {};\nconst profileRaw = $input.first()?.json ?? {};\n\nconst einspeiseAktiv = $('HA: Einspeise-Schalter lesen').first()?.json?.state === 'on';\nconst minSoc = parseFloat($('HA: Min-SoC lesen').first()?.json?.state) || 30;\n\nconst tariffSeries = tariffRaw?.results?.[0]?.series?.[0]?.values ?? [];\nconst todayWeekday = new Date().getDay();\n\nconst sameWeekdayPrices = tariffSeries\n  .filter(([time]) => new Date(time).getDay() === todayWeekday)\n  .map(([, price]) => price)\n  .filter(p => typeof p === 'number' && p > 0);\n\nconst allPrices = tariffSeries\n  .map(([, price]) => price)\n  .filter(p => typeof p === 'number' && p > 0);\n\nconst prices = sameWeekdayPrices.length >= 10 ? sameWeekdayPrices : allPrices;\nconst priceSource = sameWeekdayPrices.length >= 10 ? 'gleicher Wochentag (90 Tage)' : 'alle Wochentage (90 Tage)';\n\nconst avg_price = prices.length > 0 ? prices.reduce((a, b) => a + b, 0) / prices.length : 20;\nconst min_price = prices.length > 0 ? Math.min(...prices) : 10;\nconst max_price = prices.length > 0 ? Math.max(...prices) : 40;\n\nconst homeSeries = homeRaw?.results?.[0]?.series?.[0]?.values ?? [];\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst targetWeekday = tomorrow.getDay();\n\nconst sameWeekday = homeSeries\n  .filter(([time, kwh]) => new Date(time).getDay() === targetWeekday && kwh > 1)\n  .map(([, kwh]) => kwh);\n\nconst allDays = homeSeries\n  .filter(([, kwh]) => kwh > 1)\n  .map(([, kwh]) => kwh);\n\nconst homeValues = sameWeekday.length >= 2 ? sameWeekday : allDays;\nconst avg_consumption = homeValues.length > 0\n  ? homeValues.reduce((a, b) => a + b, 0) / homeValues.length\n  : 10;\n\nconst avgRounded = Math.round(avg_consumption * 10) / 10;\nconst avgPriceRounded = Math.round(avg_price * 10) / 10;\nconst minPriceRounded = Math.round(min_price * 10) / 10;\nconst maxPriceRounded = Math.round(max_price * 10) / 10;\n\n\n// Lastprofil nächste 6 Stunden berechnen\nconst profileSeries = profileRaw?.results?.[0]?.series?.[0]?.values ?? [];\nconst offsetHours = -new Date().getTimezoneOffset() / 60;\nconst currentHour = new Date().getHours();\nconst weekday = new Date().getDay();\nconst byHour = {};\nfor (let h = 0; h < 24; h++) byHour[h] = [];\n\nprofileSeries\n  .filter(([time]) => {\n    const local = new Date(new Date(time).getTime() + offsetHours * 3600000);\n    return local.getDay() === weekday;\n  })\n  .forEach(([time, kwh]) => {\n    const local = new Date(new Date(time).getTime() + offsetHours * 3600000);\n    const hour = local.getHours();\n    if (kwh !== null && kwh > 0) byHour[hour].push(kwh);\n  });\n\nconst next6Hours = [];\nfor (let i = 0; i < 6; i++) {\n  const h = (currentHour + i) % 24;\n  const vals = byHour[h];\n  next6Hours.push({\n    hour: h,\n    avg_kwh: vals.length > 0 ? Math.round(vals.reduce((a, b) => a + b, 0) / vals.length * 100) / 100 : 0,\n    samples: vals.length\n  });\n}\n\nconst profileDays = Math.max(...next6Hours.map(p => p.samples), 0);\nconst profileSection = profileDays >= 4\n  ? '\\n\\nStündliches Verbrauchsprofil (nächste 6h, gleicher Wochentag, ' + profileDays + ' Messtage):\\n' +\n    next6Hours.map(p => p.hour.toString().padStart(2, '0') + ':00: ' + p.avg_kwh + ' kWh').join(' | ') +\n    '\\n\\nStunden mit hohem Verbrauch: SoC-Reserve einplanen.'\n  : '';\n\nconst prompt = 'Ueberpruefe den Batterie-Preisschwellwert fuer den Rest des Tages und passe ihn bei Bedarf an.\\n\\n' +\n  'Historische Tibber-Preise (' + priceSource + '):\\n' +\n  '- Durchschnitt: ' + avgPriceRounded + ' ct/kWh | Minimum: ' + minPriceRounded + ' ct/kWh | Maximum: ' + maxPriceRounded + ' ct/kWh\\n\\n' +\n  'Erwarteter Tagesverbrauch: ' + avgRounded + ' kWh\\n\\n' +\n  'Vorgehen:\\n' +\n  '1. Rufe getState auf: SoC, aktuelle PV-Leistung, Solar-Prognose rest heute und morgen\\n' +\n  '2. Rufe getTariffInfo mit type=grid auf: Tibber-Preise rest heute und morgen\\n' +\n  '3. Ladeentscheidung (charge_action):\\n' +\n  '   Verfuegbare Kapazitaet = (1 - SoC/100) * 7.6 kWh\\n' +\n  '   Restbedarf = verbleibender Tagesverbrauch - restliche Solar-Prognose heute - verfuegbare Kapazitaet\\n' +\n  '   - Wenn Restbedarf <= 0: charge_action = \"remove\"\\n' +\n  '   - Wenn Restbedarf > 0 und guenstige Slots verfuegbar (unter historischem Durchschnitt): charge_action = \"update\" mit threshold_ct\\n' +\n  '   - Sonst: charge_action = \"keep\"\\n' +\n  '4. Einspeise-Entscheidung (discharge_action):\\n' +\n  '   Einspeise-Logik aktiv: ' + (einspeiseAktiv ? 'ja' : 'nein') + '\\n' +\n  '   Minimaler SoC fuer Einspeisen: ' + minSoc + '%\\n' +\n  '   Einspeiseverguetung: 6.7 ct/kWh (fix)\\n' +\n  '   - Wenn Einspeise-Logik aus: discharge_action = \"disable\"\\n' +\n  '   - Wenn an UND SoC > ' + minSoc + '% UND Solar+SoC deckt Restbedarf UND aktueller Tibber-Preis > 6.7 ct: discharge_action = \"enable\"\\n' +\n  '   - Sonst: discharge_action = \"disable\"\\n' +\n  '5. Bei charge_action \"update\": setBatteryGridChargeLimit aufrufen (Wert in EUR/kWh)\\n' +\n  '6. Bei charge_action \"remove\": removeBatteryGridChargeLimit aufrufen\\n' +\n  '7. Bei discharge_action: n8n setzt batterydischargecontrol (kein MCP-Aufruf noetig)\\n\\n' +\n  'Antworte IMMER mit validem JSON: { \"charge_action\": \"keep\", \"threshold_ct\": 0, \"discharge_action\": \"disable\", \"reasoning\": \"<kurze deutsche Begruendung>\" }' + profileSection;\n\nreturn [{ json: {\n  avg_consumption_kwh: avgRounded,\n  avg_price_ct: avgPriceRounded,\n  min_price_ct: minPriceRounded,\n  max_price_ct: maxPriceRounded,\n  price_source: priceSource,\n  einspeise_aktiv: einspeiseAktiv,\n  min_soc: minSoc,\n  prompt\n}}];"
      },
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Kontext berechnen",
      "type": "n8n-nodes-base.code",
      "position": [
        1344,
        -160
      ],
      "typeVersion": 2,
      "notes": "Kombiniert tariffGrid-Statistik (Min/Avg/Max für gleichen Wochentag) mit Verbrauchsdurchschnitt und Einspeise-Parametern. Baut Prompt für Claude."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "Du bist ein Energieoptimierungs-Agent für eine Hausbatterie.\nSpecs: 7,6 kWh Kapazität, max. 7 kW Ladeleistung, Einspeisevergütung 6,7 ct/kWh.\nDu hast Zugriff auf evcc via MCP-Tools. Nutze sie um den aktuellen Zustand zu lesen und den Schwellwert anzupassen.\nWichtig: setBatteryGridChargeLimit erwartet den Wert in EUR/kWh (nicht ct). Beispiel: 10 ct = 0.10 EUR.\nNur bei charge_action=update oder charge_action=remove einen API-Aufruf machen. Bei charge_action=keep nichts tun.\nDie discharge_action wird von n8n umgesetzt – du musst keinen evcc-API-Aufruf dafür machen.\nGib am Ende IMMER valides JSON zurück: { \"charge_action\": \"keep\"|\"update\"|\"remove\", \"threshold_ct\": <Zahl>, \"discharge_action\": \"enable\"|\"disable\", \"reasoning\": \"<Text>\" }"
        }
      },
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "Claude Sonnet + evcc MCP",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1568,
        -160
      ],
      "typeVersion": 3.1,
      "notes": "Claude liest SoC + PV-Prognose + Tibber-Preise via MCP, entscheidet ob Anpassung nötig und setzt Schwellwert direkt."
    },
    {
      "parameters": {
        "endpointUrl": "http://192.168.1.8:7070/mcp",
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
      "name": "evcc MCP Tools",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        1776,
        64
      ],
      "typeVersion": 1.2,
      "notes": "evcc MCP: getState, getTariffInfo, setBatteryGridChargeLimit, removeBatteryGridChargeLimit"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "c9d0e1f2-a3b4-5678-2345-789012345678",
      "name": "Claude Sonnet 4.6",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1568,
        128
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "zcVdqqwObP1JOxql",
          "name": "Anthropic – Claude Sonnet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() ?? $input.item;\nconst data = item?.json ?? {};\n\nconst response = data.output\n  ?? data.text\n  ?? data.message\n  ?? data.content\n  ?? JSON.stringify(data);\n\nlet action = 'keep';\nlet threshold = 0;\nlet reasoning = 'Keine Begruendung';\nlet dischargeAction = 'disable';\n\nconst allMatches = [...String(response).matchAll(/\\{[^{}]*\"charge_action\"[^{}]*\\}/g)];\nconst jsonMatch = allMatches.length > 0 ? allMatches[allMatches.length - 1][0] : null;\nif (jsonMatch) {\n  try {\n    const parsed = JSON.parse(jsonMatch);\n    action = parsed.charge_action ?? 'keep';\n    threshold = parseFloat(parsed.threshold_ct ?? 0);\n    reasoning = parsed.reasoning ?? reasoning;\n    dischargeAction = parsed.discharge_action ?? 'disable';\n  } catch(e) {}\n}\n\nif (!['keep', 'update', 'remove'].includes(action)) {\n  const actionMatch = String(response).match(/\"charge_action\"[^\"]*\"([^\"]+)\"/);\n  if (actionMatch) action = actionMatch[1];\n}\n\nif (!['enable', 'disable'].includes(dischargeAction)) dischargeAction = 'disable';\nif (isNaN(threshold)) threshold = 0;\nthreshold = Math.min(50, Math.max(0, threshold));\n\nreturn [{ json: {\n  action,\n  charge_action: action,\n  threshold_ct: threshold,\n  discharge_action: dischargeAction,\n  reasoning,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "id": "d0e1f2a3-b4c5-6789-3456-890123456789",
      "name": "Ergebnis extrahieren",
      "type": "n8n-nodes-base.code",
      "position": [
        1792,
        -160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/states/sensor.battery_intraday_adjustment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"state\": $json.action, \"attributes\": { \"threshold_ct\": $json.threshold_ct, \"unit_of_measurement\": \"ct/kWh\", \"friendly_name\": \"Batterie Intraday Anpassung\", \"reasoning\": $json.reasoning, \"discharge_action\": $json.discharge_action, \"last_updated\": $json.timestamp } } }}",
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7890-4567-901234567890",
      "name": "HA: Intraday Status aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2016,
        -160
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      },
      "notes": "Schreibt action (keep/update/remove), threshold_ct, discharge_action und reasoning nach HA sensor.battery_intraday_adjustment."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.discharge_action }}",
              "operation": "equals",
              "value2": "enable"
            }
          ]
        },
        "options": {}
      },
      "id": "if-discharge",
      "name": "Einspeisen aktivieren?",
      "type": "n8n-nodes-base.if",
      "position": [
        2016,
        0
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.8:7070/api/batterydischargecontrol/true",
        "options": {}
      },
      "id": "evcc-discharge-on",
      "name": "evcc: Entladen aktivieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        -80
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.8:7070/api/batterydischargecontrol/false",
        "options": {}
      },
      "id": "evcc-discharge-off",
      "name": "evcc: Entladen deaktivieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        80
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const usage = $('Claude Sonnet + evcc MCP').first()?.json?.tokenUsage ?? {};\nconst inputTokens = usage.inputTokens ?? usage.prompt_tokens ?? 5000;\nconst outputTokens = usage.outputTokens ?? usage.completion_tokens ?? 450;\nconst cost_usd = (inputTokens / 1000000 * 3) + (outputTokens / 1000000 * 15);\nconst costRounded = Math.round(cost_usd * 100000) / 100000;\nreturn [{ json: {\n  workflow: 'intraday',\n  input_tokens: inputTokens,\n  output_tokens: outputTokens,\n  cost_usd: costRounded,\n  timestamp: new Date().toISOString(),\n  line_protocol: 'ai_costs,workflow=intraday input_tokens=' + inputTokens + 'i,output_tokens=' + outputTokens + 'i,cost_usd=' + costRounded\n}}];"
      },
      "id": "token-kosten-intraday",
      "name": "Token: Kosten berechnen",
      "type": "n8n-nodes-base.code",
      "position": [
        2016,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://a0d7b954-influxdb:8086/write?db=evcc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.line_protocol }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "influxdb-token-write-intraday",
      "name": "InfluxDB: Token-Kosten schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [
        2240,
        160
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/states/sensor.battery_ai_tokens_last_run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"state\": String($json.cost_usd), \"attributes\": { \"input_tokens\": $json.input_tokens, \"output_tokens\": $json.output_tokens, \"workflow\": $json.workflow, \"timestamp\": $json.timestamp, \"unit_of_measurement\": \"USD\", \"friendly_name\": \"KI Tokens letzter Lauf\" } } }}",
        "options": {}
      },
      "id": "ha-token-status-intraday",
      "name": "HA: Token-Status aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        320
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger: stündlich 6–22 Uhr": {
      "main": [
        [
          {
            "node": "HA: KI-Schalter prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: KI-Schalter prüfen": {
      "main": [
        [
          {
            "node": "KI aktiv?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI aktiv?": {
      "main": [
        [
          {
            "node": "HA: Frequenz lesen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HA: Frequenz lesen": {
      "main": [
        [
          {
            "node": "Frequenz prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frequenz prüfen": {
      "main": [
        [
          {
            "node": "HA: Einspeise-Schalter lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Einspeise-Schalter lesen": {
      "main": [
        [
          {
            "node": "HA: Min-SoC lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Min-SoC lesen": {
      "main": [
        [
          {
            "node": "InfluxDB: Tibber Preisstats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfluxDB: Tibber Preisstats": {
      "main": [
        [
          {
            "node": "InfluxDB: Verbrauch abfragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfluxDB: Verbrauch abfragen": {
      "main": [
        [
          {
            "node": "InfluxDB: Lastprofil abfragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kontext berechnen": {
      "main": [
        [
          {
            "node": "Claude Sonnet + evcc MCP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evcc MCP Tools": {
      "ai_tool": [
        [
          {
            "node": "Claude Sonnet + evcc MCP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.6": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Sonnet + evcc MCP",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet + evcc MCP": {
      "main": [
        [
          {
            "node": "Ergebnis extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ergebnis extrahieren": {
      "main": [
        [
          {
            "node": "HA: Intraday Status aktualisieren",
            "type": "main",
            "index": 0
          },
          {
            "node": "Einspeisen aktivieren?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Token: Kosten berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token: Kosten berechnen": {
      "main": [
        [
          {
            "node": "InfluxDB: Token-Kosten schreiben",
            "type": "main",
            "index": 0
          },
          {
            "node": "HA: Token-Status aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Einspeisen aktivieren?": {
      "main": [
        [
          {
            "node": "evcc: Entladen aktivieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evcc: Entladen deaktivieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfluxDB: Lastprofil abfragen": {
      "main": [
        [
          {
            "node": "Kontext berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "intraday-adjuster-v2",
  "meta": {
    "instanceId": "8097a91cfaba8dfdfe2acc47748dc7815a709bc5aa1d37f7c8283b95db2bc694"
  },
  "id": "INTRADAY-ADJUSTER",
  "tags": []
}