n8n-workflows/optimizer-validator.json
{
  "name": "Battery AI – Optimizer Validator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "20 16 * * *"
            }
          ]
        }
      },
      "id": "validator-trigger-schedule",
      "name": "Trigger: täglich 16:20",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "validator-trigger-manual",
      "name": "Wenn manuell aufgerufen",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://192.168.1.8:7070/api/state",
        "options": {}
      },
      "id": "validator-evcc-state",
      "name": "evcc: State abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        240,
        80
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/sensor.battery_charge_threshold",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "validator-ha-threshold",
      "name": "HA: Schwellwert lesen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        480,
        80
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stateRaw = $('evcc: State abrufen').first()?.json ?? {};\nconst evccState = stateRaw?.result ?? stateRaw;\nconst evopt = evccState?.evopt ?? null;\n\nconst haState = $('HA: Schwellwert lesen').first()?.json ?? {};\nconst thresholdCt = parseFloat(haState?.state ?? 0);\nconst reasoningOriginal = haState?.attributes?.reasoning ?? '(keine Begründung)';\n\nif (!evopt?.res) {\n  return [{ json: {\n    evopt_available: false,\n    threshold_ct: thresholdCt,\n    reasoning_original: reasoningOriginal\n  }}];\n}\n\nconst batteries = evopt.res?.batteries ?? [];\nconst batteryDetails = evopt.details?.batteryDetails ?? [];\nconst homeBatIdx = batteryDetails.findIndex(d => d.type === 'battery');\nconst bat0 = batteries[homeBatIdx >= 0 ? homeBatIdx : 0] ?? {};\nconst chargingPower = bat0?.charging_power ?? [];\nconst socArr = bat0?.state_of_charge ?? [];\nconst timestamps = evopt.details?.timestamp ?? [];\nconst pricesPN = evopt.req?.time_series?.PN ?? [];\n\nconst chargeSlots = chargingPower\n  .map((power, i) => ({ power, ts: timestamps[i], pn: pricesPN[i] ?? 0 }))\n  .filter(s => s.power > 100 && s.ts != null);\n\nconst chargeWindows = chargeSlots.map(s => {\n  const d = new Date(s.ts);\n  const time = d.getHours().toString().padStart(2,'0') + ':' + d.getMinutes().toString().padStart(2,'0');\n  const priceCt = Math.round(s.pn * 1000000) / 10;\n  return `${time} (${priceCt} ct)`;\n}).join(' | ');\n\nconst maxChargePriceCt = chargeSlots.length > 0\n  ? Math.round(Math.max(...chargeSlots.map(s => s.pn * 1000000)) / 10) / 10\n  : null;\n\nconst savings = Math.round(-(evopt.res?.objective_value ?? 0) * 100) / 100;\n\nconst toPct = wh => Math.round(wh / 7600 * 100);\nconst minSoc = socArr.length > 0 ? toPct(Math.min(...socArr)) : 0;\nconst maxSocVal = socArr.length > 0 ? toPct(Math.max(...socArr)) : 0;\nconst endSoc = socArr.length > 0 ? toPct(socArr[socArr.length - 1]) : 0;\n\nconst isSolarOnly = chargeSlots.length > 0 && maxChargePriceCt !== null && maxChargePriceCt <= 0.1;\n\nconst prompt = `Gesetzter Schwellwert: ${thresholdCt} ct/kWh\\nBatterie: 7,6 kWh, Einspeisevergütung 6,7 ct/kWh\\n\\nevcc Optimizer-Plan:\\n  Ladefenster: ${chargeWindows || 'keine (kein Netzladen geplant)'}\\n  Ladeslots (15-min): ${chargeSlots.length}\\n  Höchster Ladepreis: ${maxChargePriceCt !== null ? maxChargePriceCt + ' ct/kWh' : 'n/a'}\\n  Geplante Kosteneinsparung: ${savings > 0 ? savings + ' €' : 'n/a'}\\n  SoC-Verlauf: min ${minSoc}%, max ${maxSocVal}%, Ende ${endSoc}%\\n${isSolarOnly ? '\\nHINWEIS: Alle Ladeslots zeigen 0 ct – das bedeutet Solar-Laden (kein Netzimport). Der batterygridchargelimit-Schwellwert betrifft NUR Netzladen und soll in diesem Fall NICHT geändert werden. Setze status: \\\"ok\\\".\\n' : ''}\\nValidiere ob der Plan konsistent mit dem Schwellwert ist:\\n- Ladeslots vorhanden und Preise > 0: Weicht der höchste Ladepreis stark vom Schwellwert ab (>3 ct)?\\n  Wenn ja: neuen Schwellwert empfehlen (= höchster_ladepreis + 1 ct Puffer)\\n- Keine Ladeslots oder Solar-Only (0 ct): status ok, Schwellwert unverändet lassen.\\n\\nAntworte NUR mit validem JSON:\\n{\\\"status\\\": \\\"ok\\\" oder \\\"adjusted\\\", \\\"new_threshold_ct\\\": <nur wenn adjusted und Preis > 0>, \\\"deviation_ct\\\": <Differenz in ct>, \\\"explanation\\\": \\\"<Erklärung DE>\\\"}`;\n\nreturn [{ json: {\n  evopt_available: true,\n  threshold_ct: thresholdCt,\n  reasoning_original: reasoningOriginal,\n  charge_windows: chargeWindows || 'keine',\n  n_slots: chargeSlots.length,\n  max_charge_price_ct: maxChargePriceCt,\n  savings_eur: Math.max(0, savings),\n  soc_min: minSoc,\n  soc_max: maxSocVal,\n  soc_end: endSoc,\n  prompt\n}}];"
      },
      "id": "validator-data-prepare",
      "name": "Daten aufbereiten",
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "evopt-check",
              "leftValue": "={{ $json.evopt_available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validator-if-evopt",
      "name": "evopt vorhanden?",
      "type": "n8n-nodes-base.if",
      "position": [
        960,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/states/sensor.battery_charge_threshold",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"state\": String($('Daten aufbereiten').first().json.threshold_ct), \"attributes\": { \"unit_of_measurement\": \"ct/kWh\", \"friendly_name\": \"Batterie Preisschwellwert (KI)\", \"reasoning\": $('Daten aufbereiten').first().json.reasoning_original, \"validation_status\": \"Optimizer-Plan nicht verfügbar\", \"last_updated\": new Date().toISOString() } } }}",
        "options": {}
      },
      "id": "validator-ha-no-plan",
      "name": "HA: Kein Optimizer-Plan",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1200,
        240
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "Du bist ein Energieoptimierungs-Agent. Validiere den evcc Optimizer-Plan gegen den gesetzten Preisschwellwert.\nAntworte IMMER nur mit validem JSON: { \"status\": \"ok\" | \"adjusted\", \"new_threshold_ct\": <Zahl nur wenn adjusted>, \"deviation_ct\": <Zahl>, \"explanation\": \"<Text DE>\" }"
        }
      },
      "id": "validator-chainllm",
      "name": "Claude: Plan validieren",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1200,
        0
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "validator-lm-anthropic",
      "name": "Claude Sonnet 4.6",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1200,
        288
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "zcVdqqwObP1JOxql",
          "name": "Anthropic – Claude Sonnet"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item?.json ?? {};\nconst response = data.output ?? data.text ?? data.message ?? data.content ?? JSON.stringify(data);\n\nlet status = 'ok';\nlet newThresholdCt = null;\nlet deviationCt = 0;\nlet explanation = 'Keine Begründung';\n\ntry {\n  const direct = JSON.parse(String(response).trim());\n  if (direct.status) {\n    status = direct.status ?? 'ok';\n    newThresholdCt = direct.new_threshold_ct != null ? parseFloat(direct.new_threshold_ct) : null;\n    deviationCt = parseFloat(direct.deviation_ct ?? 0);\n    explanation = direct.explanation ?? explanation;\n  }\n} catch(e) {\n  const allMatches = [...String(response).matchAll(/\\{[^{}]*\"status\"[^{}]*\\}/g)];\n  const jsonMatch = allMatches.length > 0 ? allMatches[allMatches.length - 1][0] : null;\n  if (jsonMatch) {\n    try {\n      const parsed = JSON.parse(jsonMatch);\n      status = parsed.status ?? 'ok';\n      newThresholdCt = parsed.new_threshold_ct != null ? parseFloat(parsed.new_threshold_ct) : null;\n      deviationCt = parseFloat(parsed.deviation_ct ?? 0);\n      explanation = parsed.explanation ?? explanation;\n    } catch(e2) {}\n  }\n}\n\nconst prepData = $('Daten aufbereiten').first()?.json ?? {};\nconst originalThreshold = prepData.threshold_ct ?? 0;\nconst finalThresholdCt = (status === 'adjusted' && newThresholdCt !== null)\n  ? Math.min(50, Math.max(0, newThresholdCt))\n  : originalThreshold;\n\nconst validationStatus = status === 'adjusted'\n  ? `korrigiert ${originalThreshold}→${finalThresholdCt} ct: ${explanation}`\n  : `validiert: ${explanation}`;\n\nreturn [{ json: {\n  status,\n  final_threshold_ct: finalThresholdCt,\n  new_threshold_ct: newThresholdCt,\n  deviation_ct: deviationCt,\n  explanation,\n  validation_status: validationStatus,\n  reasoning_original: prepData.reasoning_original ?? '',\n  charge_windows: prepData.charge_windows ?? '',\n  savings_eur: prepData.savings_eur ?? 0,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "id": "validator-extract-result",
      "name": "Ergebnis extrahieren",
      "type": "n8n-nodes-base.code",
      "position": [
        1440,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "adjusted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "deviation-check",
              "leftValue": "={{ $json.deviation_ct }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validator-if-correct",
      "name": "Schwellwert korrigieren?",
      "type": "n8n-nodes-base.if",
      "position": [
        1680,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://192.168.1.8:7070/api/batterygridchargelimit/' + String(Math.round($('Ergebnis extrahieren').first().json.final_threshold_ct / 100 * 1000) / 1000) }}",
        "options": {}
      },
      "id": "validator-evcc-set-limit",
      "name": "evcc: Neues Limit setzen",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        -120
      ],
      "typeVersion": 4.4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/states/sensor.battery_charge_threshold",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"state\": String($('Ergebnis extrahieren').first().json.final_threshold_ct), \"attributes\": { \"unit_of_measurement\": \"ct/kWh\", \"friendly_name\": \"Batterie Preisschwellwert (KI)\", \"reasoning\": $('Ergebnis extrahieren').first().json.reasoning_original, \"validation_status\": $('Ergebnis extrahieren').first().json.validation_status, \"charge_windows\": $('Ergebnis extrahieren').first().json.charge_windows, \"planned_savings_eur\": $('Ergebnis extrahieren').first().json.savings_eur, \"last_updated\": $('Ergebnis extrahieren').first().json.timestamp } } }}",
        "options": {}
      },
      "id": "validator-ha-sensor-write",
      "name": "HA: Sensor aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        80
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "HOwzYx39oHRQSvbp",
          "name": "Home Assistant Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const usage = $('Claude: Plan validieren').first()?.json?.tokenUsage ?? {};\nconst inputTokens = usage.inputTokens ?? usage.prompt_tokens ?? 500;\nconst outputTokens = usage.outputTokens ?? usage.completion_tokens ?? 150;\nconst cost_usd = (inputTokens / 1000000 * 3) + (outputTokens / 1000000 * 15);\nconst costRounded = Math.round(cost_usd * 100000) / 100000;\nreturn [{ json: {\n  workflow: 'validator',\n  input_tokens: inputTokens,\n  output_tokens: outputTokens,\n  cost_usd: costRounded,\n  line_protocol: 'ai_costs,workflow=validator input_tokens=' + inputTokens + 'i,output_tokens=' + outputTokens + 'i,cost_usd=' + costRounded\n}}];"
      },
      "id": "validator-token-calc",
      "name": "Token: Kosten berechnen",
      "type": "n8n-nodes-base.code",
      "position": [
        2160,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://a0d7b954-influxdb:8086/write?db=evcc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.line_protocol }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "validator-influxdb-write",
      "name": "InfluxDB: Token-Kosten schreiben",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2400,
        80
      ],
      "typeVersion": 4.4,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpBasicAuth": {
          "id": "r61FJRKq9t50s9A7",
          "name": "InfluxDB evcc"
        }
      }
    }
  ],
  "connections": {
    "Trigger: täglich 16:20": {
      "main": [
        [
          {
            "node": "evcc: State abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wenn manuell aufgerufen": {
      "main": [
        [
          {
            "node": "evcc: State abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evcc: State abrufen": {
      "main": [
        [
          {
            "node": "HA: Schwellwert lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Schwellwert lesen": {
      "main": [
        [
          {
            "node": "Daten aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten aufbereiten": {
      "main": [
        [
          {
            "node": "evopt vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evopt vorhanden?": {
      "main": [
        [
          {
            "node": "Claude: Plan validieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HA: Kein Optimizer-Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.6": {
      "ai_languageModel": [
        [
          {
            "node": "Claude: Plan validieren",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Plan validieren": {
      "main": [
        [
          {
            "node": "Ergebnis extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ergebnis extrahieren": {
      "main": [
        [
          {
            "node": "Schwellwert korrigieren?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schwellwert korrigieren?": {
      "main": [
        [
          {
            "node": "evcc: Neues Limit setzen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HA: Sensor aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evcc: Neues Limit setzen": {
      "main": [
        [
          {
            "node": "HA: Sensor aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Sensor aktualisieren": {
      "main": [
        [
          {
            "node": "Token: Kosten berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token: Kosten berechnen": {
      "main": [
        [
          {
            "node": "InfluxDB: Token-Kosten schreiben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0"
}